In [1]:
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt

In [2]:
dataset2=pd.read_csv("Ecommerce Customers.csv")

In [3]:
dataset2.head()

,Email,Address,Avatar,Avg. Session Length,Time on App,Time on Website,Length of Membership,Yearly Amount Spent
0,mstephenson@fernandez.com,"835 Frank Tunnel\nWrightmouth, MI 82180-9605",Violet,34.497268,12.655651,39.577668,4.082621,587.951054
1,hduke@hotmail.com,"4547 Archer Common\nDiazchester, CA 06566-8576",DarkGreen,31.926272,11.109461,37.268959,2.664034,392.204933
2,pallen@yahoo.com,"24645 Valerie Unions Suite 582\nCobbborough, D...",Bisque,33.000915,11.330278,37.110597,4.104543,487.547505
3,riverarebecca@gmail.com,"1414 David Throughway\nPort Jason, OH 22070-1220",SaddleBrown,34.305557,13.717514,36.721283,3.120179,581.852344
4,mstephens@davidson-herman.com,"14023 Rodriguez Passage\nPort Jacobville, PR 3...",MediumAquaMarine,33.330673,12.795189,37.536653,4.446308,599.406092

In [4]:
dataset2.drop(["Email","Address","Avatar","Time on App"],axis=1,inplace=True)

In [5]:
dataset2

,Avg. Session Length,Time on Website,Length of Membership,Yearly Amount Spent
0,34.497268,39.577668,4.082621,587.951054
1,31.926272,37.268959,2.664034,392.204933
2,33.000915,37.110597,4.104543,487.547505
3,34.305557,36.721283,3.120179,581.852344
4,33.330673,37.536653,4.446308,599.406092
5,33.871038,34.476878,5.493507,637.102448
6,32.021596,36.683776,4.685017,521.572175
7,32.739143,37.373359,4.434273,549.904146
8,33.987773,37.534497,3.273434,570.200409
9,31.936549,37.145168,3.202806,427.199385
10,33.992573,37.225806,2.482608,492.606013
11,33.879361,37.087926,3.713209,522.337405
12,29.532429,37.420216,4.046423,408.640351
13,33.190334,36.144667,3.918542,573.415867
14,32.387976,36.619957,2.494544,470.452733
15,30.737720,36.213763,3.357847,461.780742
16,32.125387,34.894093,3.136133,457.847696
17,32.338899,38.385137,2.420806,407.704548
18,32.187812,38.244115,1.516576,452.315675
19,32.617856,37.190504,4.064549,605.061039
20,32.912785,37.607793,4.599937,534.705744
21,33.503087,37.441021,1.559152,419.938775
22,31.531604,38.734006,2.245148,436.515606
23,32.903251,36.772604,3.919302,519.340989
24,34.507551,37.635756,5.705154,700.917092
25,33.029332,37.738525,2.721736,423.179992
26,33.541231,36.430650,4.648199,619.895640
27,32.335990,37.851779,2.996365,486.838935
28,33.110205,35.293088,3.923489,529.537665
29,33.105438,37.277812,4.742578,554.722084
...,...,...,...,...
470,32.518197,36.599289,3.022676,424.728774
471,34.523020,36.378271,4.041245,541.049831
472,33.665990,38.860234,3.139527,469.383146
473,31.609840,36.166463,2.562819,444.545550
474,33.700886,37.071643,2.379076,492.556834
475,33.811733,36.298893,4.301996,535.321610
476,34.336677,38.682584,2.094762,408.958336
477,31.061325,36.166042,4.089331,487.555458
478,33.069768,36.875026,3.516051,487.646232
479,34.606242,38.126520,1.820811,402.167122
480,34.238242,35.769330,4.183144,551.023002
481,32.047815,35.536025,3.393903,497.389558
482,30.971676,36.074551,4.426364,494.638610
483,33.606851,37.198428,2.905238,479.247417
484,33.448125,36.874544,2.782758,462.656519
485,33.369381,36.355235,3.447018,515.502480
486,33.452295,36.534096,4.712234,576.477607
487,32.904692,36.058648,1.228112,357.857984
488,35.630854,38.187764,4.019051,597.739879
489,32.246350,37.133127,1.707390,327.377953
490,34.695591,37.684877,3.163092,510.401388
491,34.343922,36.812934,3.447093,510.501478
492,33.680937,37.835448,2.208814,403.819520
493,32.060914,35.539142,5.412358,627.603319
494,33.431097,37.965972,2.768852,510.661792
495,33.237660,36.417985,3.746573,573.847438
496,34.702529,37.190268,3.576526,529.049004
497,32.646777,38.332576,4.958264,551.620145
498,33.322501,36.840086,2.336485,456.469510
499,33.715981,35.771016,2.735160,497.778642

In [6]:
x=dataset2.iloc[:,0:3]
x

     Avg. Session Length  Time on Website  Length of Membership
0              34.497268        39.577668              4.082621
1              31.926272        37.268959              2.664034
2              33.000915        37.110597              4.104543
3              34.305557        36.721283              3.120179
4              33.330673        37.536653              4.446308
5              33.871038        34.476878              5.493507
6              32.021596        36.683776              4.685017
7              32.739143        37.373359              4.434273
8              33.987773        37.534497              3.273434
9              31.936549        37.145168              3.202806
10             33.992573        37.225806              2.482608
11             33.879361        37.087926              3.713209
12             29.532429        37.420216              4.046423
13             33.190334        36.144667              3.918542
14             32.387976        36.619957              2.494544
15             30.737720        36.213763              3.357847
16             32.125387        34.894093              3.136133
17             32.338899        38.385137              2.420806
18             32.187812        38.244115              1.516576
19             32.617856        37.190504              4.064549
20             32.912785        37.607793              4.599937
21             33.503087        37.441021              1.559152
22             31.531604        38.734006              2.245148
23             32.903251        36.772604              3.919302
24             34.507551        37.635756              5.705154
25             33.029332        37.738525              2.721736
26             33.541231        36.430650              4.648199
27             32.335990        37.851779              2.996365
28             33.110205        35.293088              3.923489
29             33.105438        37.277812              4.742578
..                   ...              ...                   ...
470            32.518197        36.599289              3.022676
471            34.523020        36.378271              4.041245
472            33.665990        38.860234              3.139527
473            31.609840        36.166463              2.562819
474            33.700886        37.071643              2.379076
475            33.811733        36.298893              4.301996
476            34.336677        38.682584              2.094762
477            31.061325        36.166042              4.089331
478            33.069768        36.875026              3.516051
479            34.606242        38.126520              1.820811
480            34.238242        35.769330              4.183144
481            32.047815        35.536025              3.393903
482            30.971676        36.074551              4.426364
483            33.606851        37.198428              2.905238
484            33.448125        36.874544              2.782758
485            33.369381        36.355235              3.447018
486            33.452295        36.534096              4.712234
487            32.904692        36.058648              1.228112
488            35.630854        38.187764              4.019051
489            32.246350        37.133127              1.707390
490            34.695591        37.684877              3.163092
491            34.343922        36.812934              3.447093
492            33.680937        37.835448              2.208814
493            32.060914        35.539142              5.412358
494            33.431097        37.965972              2.768852
495            33.237660        36.417985              3.746573
496            34.702529        37.190268              3.576526
497            32.646777        38.332576              4.958264
498            33.322501        36.840086              2.336485
499            33.715981        35.771016              2.735160

[500 rows x 3 columns]

In [7]:
y=dataset2.iloc[:,3]
y

0      587.951054
1      392.204933
2      487.547505
3      581.852344
4      599.406092
5      637.102448
6      521.572175
7      549.904146
8      570.200409
9      427.199385
10     492.606013
11     522.337405
12     408.640351
13     573.415867
14     470.452733
15     461.780742
16     457.847696
17     407.704548
18     452.315675
19     605.061039
20     534.705744
21     419.938775
22     436.515606
23     519.340989
24     700.917092
25     423.179992
26     619.895640
27     486.838935
28     529.537665
29     554.722084
          ...
470    424.728774
471    541.049831
472    469.383146
473    444.545550
474    492.556834
475    535.321610
476    408.958336
477    487.555458
478    487.646232
479    402.167122
480    551.023002
481    497.389558
482    494.638610
483    479.247417
484    462.656519
485    515.502480
486    576.477607
487    357.857984
488    597.739879
489    327.377953
490    510.401388
491    510.501478
492    403.819520
493    627.603319
494    510.661792
495    573.847438
496    529.049004
497    551.620145
498    456.469510
499    497.778642
Name: Yearly Amount Spent, Length: 500, dtype: float64

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)

In [10]:
x_train

     Avg. Session Length  Time on Website  Length of Membership
107            32.063775        37.712509              3.004743
336            32.302553        38.269061              3.532862
71             34.335896        36.157191              4.694322
474            33.700886        37.071643              2.379076
6              32.021596        36.683776              4.685017
412            33.863189        35.938045              3.013033
113            32.653181        37.309689              2.789462
236            32.693240        37.370118              3.467014
299            30.492537        35.976565              1.481617
155            32.449522        37.238806              2.941411
272            34.436426        36.768603              3.371258
7              32.739143        37.373359              4.434273
137            34.558295        36.494406              2.491672
8              33.987773        37.534497              3.273434
463            31.874552        36.929762              3.491093
432            31.123974        35.632112              4.288487
375            33.582947        36.908190              2.479340
284            31.312350        38.717076              3.594295
210            31.765619        38.131712              3.850280
188            32.283123        36.094242              4.789202
430            33.749228        38.401374              4.595523
49             31.661050        36.594457              3.198399
134            33.540977        37.424548              1.767731
365            32.030550        38.001827              5.038107
413            32.592093        36.729029              4.791109
239            31.720770        38.573605              5.023934
59             33.754995        37.271222              3.970556
406            32.865301        35.569170              2.399080
391            33.481931        37.317705              3.336339
411            32.992573        36.985041              4.620416
..                   ...              ...                   ...
265            33.902718        37.341266              4.256983
72             32.386252        38.006583              3.401522
333            33.485520        35.862447              3.206757
25             33.029332        37.738525              2.721736
165            32.047801        37.661107              3.675849
337            31.827979        37.428997              2.974737
483            33.606851        37.198428              2.905238
174            33.432231        38.835670              3.669226
486            33.452295        36.534096              4.712234
39             32.567230        36.371480              4.222436
193            31.570201        36.337800              4.369367
314            32.878474        37.870952              4.693732
396            35.742670        35.565436              6.115199
88             31.956301        36.951617              4.571213
472            33.665990        38.860234              3.139527
70             33.154176        36.265001              2.602287
87             34.447871        36.819096              3.366464
292            33.374017        35.946399              5.454463
242            34.050947        39.081565              2.436959
277            32.192499        36.897295              5.049927
211            34.081646        36.059646              3.974522
9              31.936549        37.145168              3.202806
359            32.054262        37.650400              4.195614
195            31.820998        37.278640              3.519032
251            32.728521        34.845612              3.287702
323            32.762456        37.646292              4.019470
192            33.694898        35.493964              4.015987
117            33.059264        35.999099              5.004821
47             32.726785        36.462003              4.113226
172            34.482388        35.907298              4.968743

[400 rows x 3 columns]

In [11]:
y_train

107    378.330907
336    478.600916
71     595.822837
474    492.556834
6      521.572175
412    444.053827
113    422.426776
236    501.928265
299    282.471246
155    503.978379
272    582.491924
7      549.904146
137    433.048769
8      570.200409
463    392.285244
432    486.947054
375    478.951405
284    463.591418
210    496.554082
188    524.637965
430    556.186369
49     416.358354
134    407.804031
365    594.274483
413    493.181261
239    538.774933
59     547.365141
406    411.186964
391    503.175085
411    589.026490
          ...
265    567.475011
72     418.150081
333    498.635598
25     423.179992
165    513.450571
337    440.002748
483    479.247417
174    465.176623
486    576.477607
39     537.846195
193    545.945492
314    610.128033
396    669.987141
88     547.125932
472    469.383146
70     444.966552
87     473.728967
292    584.218313
242    451.628611
277    616.660286
211    548.518529
9      427.199385
359    561.874658
195    424.675281
251    393.857371
323    473.360496
192    505.119638
117    593.077241
47     563.672873
172    666.125592
Name: Yearly Amount Spent, Length: 400, dtype: float64

In [12]:
from sklearn.linear_model import LinearRegression

In [13]:
mlr = LinearRegression()
mlr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [14]:
y_pred=mlr.predict(x_test)

In [15]:
y_pred

array([421.23178592, 478.24687482, 386.06121814, 525.6285801 ,
       518.77668367, 430.75423549, 448.33700678, 364.40252063,
       554.62739171, 634.0990386 , 536.04099411, 519.04564768,
       557.38813264, 425.92245213, 396.11261532, 382.05921431,
       538.16835079, 445.20679262, 592.69312746, 489.49235482,
       644.32251275, 504.56855704, 428.19576553, 525.27314197,
       549.10141374, 478.2524513 , 385.59046194, 453.72015734,
       554.36783895, 492.33315496, 483.90393218, 509.11131206,
       518.84771761, 477.08026482, 508.94230359, 432.21840159,
       500.55845933, 447.67063205, 571.45495303, 376.17946264,
       536.43689057, 557.42213282, 580.92436973, 624.00042979,
       465.5152266 , 417.97651749, 485.73043911, 417.95610061,
       495.10670704, 425.81789898, 495.63665664, 471.03001445,
       552.80414319, 483.80892857, 462.64179419, 449.67410724,
       524.02295188, 313.01119095, 568.4524311 , 499.97173704,
       549.5236045 , 519.16718799, 454.69278423, 592.57283091,
       461.23377266, 362.88121557, 455.09877639, 342.52936007,
       601.625899  , 454.30840617, 508.78041105, 647.63738472,
       432.94987164, 460.23176119, 391.06134786, 478.36860794,
       566.12005592, 460.63640026, 523.35050873, 434.50507276,
       486.89430954, 505.11888056, 563.48718946, 546.67196516,
       475.28257421, 552.27403919, 528.37142566, 741.25395465,
       437.57604977, 493.13514194, 535.52753598, 474.80006209,
       372.04018541, 438.68285148, 496.20232186, 415.05133991,
       463.03994533, 502.89324186, 591.8291515 , 462.92027319])

In [16]:
mlr.intercept_

-617.8154353770924

In [17]:
mlr.coef_

array([23.60159859,  3.03741998, 63.46743478])

In [18]:
x_train.shape

(400, 3)

In [19]:
pre=mlr.predict([[300,3289,5.0]])

In [20]:
pre

array([16770.07563962])

In [21]:
dataset2.corr()

,Avg. Session Length,Time on Website,Length of Membership,Yearly Amount Spent
Avg. Session Length,1.000000,-0.034987,0.060247,0.355088
Time on Website,-0.034987,1.000000,-0.047582,-0.002641
Length of Membership,0.060247,-0.047582,1.000000,0.809084
Yearly Amount Spent,0.355088,-0.002641,0.809084,1.000000

In [22]:
from sklearn.metrics import r2_score

In [23]:
r2_score(y_test,y_pred)

0.759814803312296